{# Settings #}
{% set assets = assets ?? false %}
{% set galleryTitle = galleryTitle|default('') %}
{% set galleryRef = craft.lightbox.getGalleryRef(galleryTitle) %}
{% set settings = settings ?? false %}

{# Render gallery of items #}
{% if assets and settings %}

{% apply spaceless %}

<div {{ attr(craft.lightbox.galleryAttrs(galleryTitle, galleryRef)) }}>
{% for asset in assets %}  
  {% set alt = settings.titleAsCaption ? asset.title : asset.alt is defined ? asset.alt : '' %}
  <a href="{{asset.url}}" {{ attr(craft.lightbox.linkAttrs(asset, galleryTitle, galleryRef)) }}>
    <img src="{{asset.url}}" class="{{settings.cssClassGalleryImage}} {{settings.cssClassesGalleryImage}}" alt="{{alt}}"/>
  </a>
{% endfor %}
</div>

{% endapply %}

{# Decorative CSS #}
{% if settings.includeDecorativeCss %}
{% css %}
.{{settings.cssClassGallery}} {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  width: 100%;
}
.{{settings.cssClassGallery}} .{{settings.cssClassGalleryLink}} {
  display: flex;
  align-items: center;
  justify-content: center;
}
.{{settings.cssClassGallery}} img.{{settings.cssClassGalleryImage}} {
  width: auto;
  height: auto;
}
{% endcss %}
{% endif %}

{% endif %}
