{# Settings #}
{% set assets = assets ?? false %}
{% set galleryTitle = galleryTitle|default('') %}
{% set galleryRef = craft.lightbox.getGalleryRef(galleryTitle) %}
{% set settings = settings ?? false %}

{# Render gallery of items #}
{% if assets and settings %}

{% apply spaceless %}

<div {{ attr(craft.lightbox.galleryAttrs(galleryTitle, galleryRef)) }}>
{% for asset in assets %}  
  {% set alt = settings.titleAsCaption ? asset.title : asset.alt is defined ? asset.alt : '' %}
  {% set srcsets = craft.lightbox.getGalleryImageSrcset(asset) %}
  <a href="{{asset.url}}" {{ attr(craft.lightbox.linkAttrs(asset, galleryTitle, galleryRef)) }}>
    {% if srcsets.srcset != null or srcsets.srcsetwebp != null %}
    <picture>
      {% if srcsets.srcset != null %}
      <source type="{{asset.mimeType}}" srcset="{{srcsets.srcset}}" />
      {% endif %}
      {% if srcsets.srcsetwebp != null %}
      <source type="image/webp" srcset="{{srcsets.srcsetwebp}}" />
      {% endif %}
      <img src="{{asset.url}}" class="{{settings.cssClassGalleryImage}} {{settings.cssClassesGalleryImage}}" alt="{{alt}}" />
    </picture>
    {% else %}
    <img src="{{asset.url}}" class="{{settings.cssClassGalleryImage}} {{settings.cssClassesGalleryImage}}" alt="{{alt}}" />
    {% endif %}
  </a>
{% endfor %}
</div>

{% endapply %}

{# Decorative CSS #}
{% if settings.includeDecorativeCss %}
{% css %}
.{{settings.cssClassGallery}} {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 240px));
  width: 100%;
}
.{{settings.cssClassGallery}} .{{settings.cssClassGalleryLink}} {
  display: flex;
  align-items: center;
  justify-content: center;
}
.{{settings.cssClassGallery}} img.{{settings.cssClassGalleryImage}} {
  width: auto;
  height: auto;
}
{% endcss %}
{% endif %}

{% endif %}
